*
{
    margin: 0%;
    padding: 0%;
}
.main
{
    background-color: rgb(5, 191, 216);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.table a
{
  background-color: aliceblue;
}
.syed a:hover
{
background-color: rgb(2, 87, 136);
}